body {
    background-color: #f1faee;
}

button {
    font-size: 30px;
    background-color: #a8dadc;
}

h1,
h2 {
    color: #1d3557;
}

/* # is used for id elements*/
#signup {
    background-color: #1d3557;
    color: #f1faee;
}

span {
    color: #157b9d;
}

/* . is used for class elements*/
.tag {
    background-color: #e63946;
    color: #f1faee;
    font-size: 16px;
}